.polyline, .svg {
  width: 200px;
  height: 200px;
}

div {
  margin: 0px;
}

.all-containers {
  width: 100%;
}
.SearchBar-container{
  margin-top: 40px;
  width: 70%;
}
.g-map {
  width: 94%;
  height: 50vh;
  margin: 0 auto;
  margin: 20px;
  border-radius: 20px;
}

html, body, .SearchBar-container, .container {
  width: 100%;
  background: aquamarine;
}

.side-by-side {
  width: 100%;
  display: flex;
}

.weather-map-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: black;
  border-radius: 20px;
  margin: 40px;
}

.weather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

.chart {
  width: 100%;
  height: 100%;
}

.single-chart {
  width: 30%;
  padding: 5px;
}

.artists-container {
  width: 80%;

}

.artists {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.artist-image {
  width: 100%;
}


.news-container{
  width: 40%;
  margin: 35px 10px 10px 20px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-lsit{
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: black;
}
.card{
  width:100%;
  margin: 20px 0px 20px 0px;
}
.title {
  text-transform: capitalize;
}
.stacked{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityName{
  padding: 5px;
    font-size: 38px;

}
