.polyline, .svg {
  width: 200px;
  height: 200px;
}

.SearchBar-container {
  margin-top: 40px;
  width: 70%;
}

.g-map {
  width: 100%;
  height: 650px;
  margin: 0 auto;
}

html {
  width: 100%;
  color: black;
  font-family: 'oswald', serif;
  /*background-color: #009688;*/
}

body {
  width: 95%;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

hr {
  margin: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.all-containers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.SearchBar {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

.side-by-side {
  width: 100%;
  display: flex;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  background-color: #f7f1f1;
  border-radius: 5px;
}

.alone {
  width: 20%;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: #f7f1f1;
    border-radius: 5px;
}

footer {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding: 20px;
}

.red {
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.weather-map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*background-color: white;*/
}

.weather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background-color: #000000;*/
  margin: 0 auto;
}

.chart {
  width: 100%;
}

.single-chart {
  width: 40%;
  padding: 5px;
}

.artists-container {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  background-color: #f7f1f1;
  border-radius: 5px;
}

.artists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.artist-image {
  width: 100%;
}

.news-container {
  width: 100%;
  /*background-color: white;*/
}

.news-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headline {
  width: 100%;
  flex-direction: column;
  margin-bottom: 10%;
}

.title {
  text-transform: capitalize;
}

.sub-header {
  padding: 5px;
  font-size: 38px;
  text-align: center;
}

.news-image {
  width: 100%;
}

.input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50%;
  margin: 2px;
  padding: 10px 20px;
  border: 3px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: 20px;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 2px;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: 20px;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
}
